.modal__grid-wrapper {
  display: flex;
  flex-direction: column;
  height: 30%;
}

.modal__grid-wrapper_header {
  color: black;
  height: 30%;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

.modal__grid-item {
  padding: 10px !important;
}

.modal__grid-item h3 {
  text-align: center;
  color: black;
  font-size: 10px;
  font-weight: 400;
}
