@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: rgb(32, 32, 32);
  --red: rgb(236, 29, 35);
}

* {
  font-family: 'Inter', sans-serif;
  color: white;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--red);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
